* {
    font-family: Helvetica;
    border: 0px solid red;
}

/* HOMEPAGE START*/

div h1 {
  text-align: center;
  font-size: 5vw;
  height: 7vw;
  background-color: lightgreen;
  color: violet;
  margin: 0 4vw;
}

.homepage {
  display: flex;
  width: fit-content;
  background-color: lightgreen;
  padding: 2%;
  margin: 4vw 4vw 0;
}

/* .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 1 300px;
} */

.rezepte {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

#row-one,
#row-two,
#row-three {
  display: flex;
  gap: 1vw;
}

.rezepte li {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: lightyellow;
  padding: 1vh;
  height: 15vw;
  border: 1px solid black;
}

li a {
  font-size: 1vw; 
  font-weight: 700;
  height: 1vw;
  background-color: lightyellow;
  text-align: center;
}

li img {
  height: 14vw;
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
}

#cake {
  height: 2vh;
}

/* HOMEPAGE END*/

body > .navigation {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

/* .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
} */